
<a href="" class="header-catalog-button">
  <i class="header-catalog-button__icon"></i>
  <p class="header-catalog-button__text">Departments</p>
</a>

<ul class="catalog-categories-list">

  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Games and consoles</a>
    <div class="catalog-categories-list__sub-list">
      <div class="sub-list__wrapper">
        <ul class="sub-list">
          <li class="sub-list__item">
            <a href="" class="sub-list__title-link">Title link</a>
            <ul class="second-sub-list">
              <li class="second-sub-list__item">
                <a href="" class="second-sub-list__link">Electric scooters</a>
              </li>
              <li class="second-sub-list__item">
                <a href="" class="second-sub-list__link">Building and Construction Toys</a>
              </li>
              <li class="second-sub-list__item">
                <a href="" class="second-sub-list__link">Electric scooters</a>
              </li>
              <li class="second-sub-list__item">
                <a href="" class="second-sub-list__link">Building and Construction Toys</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </li>

  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Toys</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Beauty</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Garden</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Electronics</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Home and kitchen</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Baby and children</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Gadgets</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Sport and Outdoor</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Computers</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Fan shop and merchandise</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Luggage and Travel Gear</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Tools</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Games and consoles</a>
  </li>
  <li class="catalog-categories-list__item">
    <a href="" class="catalog-categories-list__link">Sport and Outdoor</a>
  </li>


  <li class="catalog-categories-list__more-categories"></li>
</ul>


