<form [formGroup]="form" (ngSubmit)="submit()">

  <h1>Rer form</h1>

  <div class="form-control">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
    <div *ngIf="form.get('name').touched && form.get('name').invalid">
      <small *ngIf="form.get('name').errors.required">Enter Name</small>
    </div>
  </div>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Enter Email</small>
      <small *ngIf="form.get('email').errors.email">Enter Valid Email</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Enter Password</small>
      <small *ngIf="form.get('password').errors.minlength">
        Passwor must be at least  {{form.get('password').errors.minlength.requiredLength}} characters.
        Now he {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Logon</button>

</form>

