

<!--</form>-->

<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Auth form</h1>

  <div class="form-control">
    <label for="auth_email">Email</label>
    <input id="auth_email" type="email" formControlName="email">
    <div *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Enter Email</small>
      <small *ngIf="form.get('email').errors.email">Enter Valid Email</small>
    </div>
  </div>

  <div class="form-control">
    <label for="auth_password">Password</label>
    <input id="auth_password" type="password" formControlName="password">
    <div *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Enter Password</small>
      <small *ngIf="form.get('password').errors.minlength">
        Passwor must be at least  {{form.get('password').errors.minlength.requiredLength}} characters.
        Now he {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || submitted">Logon</button>


</form>

<app-reg></app-reg>
